:root {
  --x: 250;
  --y: 250;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.spotlight {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.97;
  background: -webkit-radial-gradient(calc(var(--x) * 1px) calc(var(--y) * 1px), circle cover, transparent 0px, #000 150px);
}
